<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tyrion.glidedemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.RequestActivity"/>
        <activity android:name=".activity.ResizeActivity"/>
        <activity android:name=".activity.SimpleActivity"/>
        <activity android:name=".activity.TargetAcitivity"/>
        <activity android:name=".activity.ThumbnailActivity"/>
        <activity android:name=".activity.TransformationActivity"/>
        <activity android:name=".activity.AnimatorActivity"/>
        <activity android:name=".activity.CacheActivity"/>
        <activity android:name=".activity.PlaceholderActivity"/>
        <activity android:name=".activity.ModelActivity"/>

        <meta-data
            android:name="me.tyrion.glidedemo.model.OptionsGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>